li
{
    list-style: none;
}
h3
{
    margin-bottom: 10px;
}
.clear
{
    clear: both;
}
body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #bbf1c8;
}
input
{
    outline: none;
}
@media (min-width:1110px) 
 {
    .container
    {
        background: #80bdab;
        text-align: center;
        padding: 30px 0 0 0; 
        color: white;
    }
    p
    {
        text-transform: capitalize;
        font-size: 17px;
    }
    h2
    {
        font-size: 30px;
    }
    .input
    {
        background: #80bdab;
        padding-bottom: 12px;
        text-align: center;
    }
    .input div
    {
        width: 49%;
        margin: auto;
    }
    .input input
    {
        height: 20px;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 500px;
        padding: 10px;
        float: left;
        font-size: 16px;
        
    }
    .input span
    {
        padding: 11px;
        width: 200px;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    .list
    {
        background-color: #bbf1c8;
        padding: 20px 0;
        min-height: 440px;
        
    }
    .list .item
    {
        position: relative;
        margin-bottom: 20px;
    }
    .list .item input
    {
        width: 500px;
        padding: 5px 15px;
        font-size: 20px;
        height: 42.5px;
        border: none;
        box-shadow: 6px 6px 8px rgb(112, 231, 159);
        border-radius: 20px 0 20px 0;
        border: 1px solid #80bdab;
        color: black;
        transition: all .5s ease-in-out;
        outline: none;
    }
    .list .item input:hover
    {
        transform: scale(1.1,1.1);
        
    }
    .list .item i
    {
        font-size: 20px;
        color: black;
        position: absolute;
        left: 995px;
        top: 15px;
        cursor: pointer;
    }
    .list .item .del:hover
    {
        color: #ae0000;
    }
    .list .item .edit
    {
        left: 963px;
        top: 18px;
    }
    .list .item .ok:hover,.list .item .edit:hover
    {
        color: rgb(0, 71, 0);
    }
    .list .item .hide
    {
        display: none;
    }
    footer
    {
        border-top: 2px solid #444;
        text-align: center;
    }
}

/* for moblie*/
@media only screen 
and (min-width : 10px) 
and (max-width : 1099px)
 {
     h2
     {
         font-size: 8vw;
     }
    .container
    {
        background: #80bdab;
        text-align: center;
        padding: 30px 0 0 0; 
        color: white;
    
    }
    p
    {
        text-transform: capitalize;
        font-size: 3vw;
    }
    .input
    {
        background: #80bdab;
        padding-bottom: 38px;
        text-align: center;
        
        
    }
    .input div
    {
        width: 75%;
        margin: auto;
    }
    .input input
    {
        height: 5vw;
        margin: 0;
        border: none;
        border-radius: 0;
        width: 464px;
        padding: 2vw;
        float: left;
        font-size: 4vw;
        
    }
    .input span
    {
        padding: 11px;
        width: 200px;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
        font-size: 5vw;
        height: 66px;
    }
    .list
    {
        background-color: #bbf1c8;
        padding: 20px 0;
        min-height: 1050px;
        
    }
    .list .item
    {
        position: relative;
        margin-bottom: 20px;
    }

    .list .item input
    {
        width: 600px;
        padding: 2vw;
        font-size: 4vw;
        height: 6vw;
       
        box-shadow: 6px 6px 8px rgb(112, 231, 159);
        border-radius: 50px 0 50px 0;
        border: 1px solid #80bdab;
        color: black;
        
        outline: none;
    }
    .list .item i
    {
        color: black;
        position: absolute;
        left: 752px;
        top: 25px;
        cursor: pointer;
        font-size: 5vw;
    }
    .list .item .edit
    {
        left: 689px;
        top: 28px;
    }
    .list .item .del:hover
    {
        color: #ae0000;
    }
    .list .item .hide
    {
        display: none;
    }
    .list .item .ok:hover,.list .item .edit:hover
    {
        color: green;
    }
    footer
    {
        border-top: 2px solid #444;
        text-align: center;
        font-size: 3vw;
    }
 }